.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .section {  
    animation: 1s ease-out 0s 1 slideInFromLeft;
    
    background: transparent;
    padding: 30px;
  }

  .start {
    text-decoration: none;
    color: inherit;
    color: white;
  }
